<div class="row cards" >
    <h1>Proyectos realizados</h1>
    <div class=" row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
              <img src="../../../assets/picProject/foto-ejemplo.avif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Name Project</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, officia harum non unde doloremque eaque?
                </p>
                <a href="#" class="btn"><img src="../../../assets/icons/github.svg" alt="github" width="32" height="32"></a>
              </div>
            </div>
          </div>
        <div class="col">
            <div class="card h-100">
              <img src="../../../assets/picProject/foto-ejemplo.avif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Name Project</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, officia harum non unde doloremque eaque?
                </p>
                <a href="#" class="btn"><img src="../../../assets/icons/github.svg" alt="github" width="32" height="32"></a>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
              <img src="../../../assets/picProject/foto-ejemplo.avif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Name Project</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, officia harum non unde doloremque eaque?
                </p>
                <a href="#" class="btn"><img src="../../../assets/icons/github.svg" alt="github" width="32" height="32"></a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="../../../assets/picProject/foto-ejemplo.avif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Name Project</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, officia harum non unde doloremque eaque?
                </p>
                <a href="#" class="btn"><img src="../../../assets/icons/github.svg" alt="github" width="32" height="32"></a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="../../../assets/picProject/foto-ejemplo.avif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Name Project</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, officia harum non unde doloremque eaque?
                </p>
                <a href="#" class="btn"><img src="../../../assets/icons/github.svg" alt="github" width="32" height="32"></a>
              </div>
            </div>
          </div> 
    </div>
</div>