<div class="row"> 
    <h1>Tecnologías</h1>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent] = "90"
        [radius] = "70"
        [imageSrc] = "'../assets/skills/html.svg'"
        [showImage] = "true"
        [imageHeight]="50"
        [imageWidth]="50"
        [showUnits] = "false"
        [showSubtitle]= "false"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#efb810'"
        [innerStrokeColor]="'#f3ca4c'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-">
        <circle-progress
        [percent] = "90"
        [radius] = "70"
        [imageSrc] = "'../assets/skills/css.svg'"
        [showImage] = "true"
        [imageHeight]="50"
        [imageWidth]="50"
        [showUnits] = "false"
        [showSubtitle]= "false"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#efb810'"
        [innerStrokeColor]="'#f3ca4c'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent] = "90"
        [radius] = "70"
        [imageSrc] = "'../assets/skills/javascript.svg'"
        [showImage] = "true"
        [imageHeight]="50"
        [imageWidth]="50"
        [showUnits] = "false"
        [showSubtitle]= "false"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#efb810'"
        [innerStrokeColor]="'#f3ca4c'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent] = "90"
        [radius] = "70"
        [imageSrc] = "'../assets/skills/typescript.svg'"
        [showImage] = "true"
        [imageHeight]="50"
        [imageWidth]="50"
        [showUnits] = "false"
        [showSubtitle]= "false"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#efb810'"
        [innerStrokeColor]="'#f3ca4c'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent] = "90"
        [radius] = "70"
        [imageSrc] = "'../assets/skills/nodejs.svg'"
        [showImage] = "true"
        [imageHeight]="45"
        [imageWidth]="80"
        [showUnits] = "false"
        [showSubtitle]= "false"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#efb810'"
        [innerStrokeColor]="'#f3ca4c'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent] = "90"
        [radius] = "70"
        [imageSrc] = "'../assets/skills/express.svg'"
        [showImage] = "true"
        [imageHeight]="40"
        [imageWidth]="85"
        [showUnits] = "false"
        [showSubtitle]= "false"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#efb810'"
        [innerStrokeColor]="'#f3ca4c'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent] = "90"
        [radius] = "70"
        [imageSrc] = "'../assets/skills/mongodb.svg'"
        [showImage] = "true"
        [imageHeight]="90"
        [imageWidth]="50"
        [showUnits] = "false"
        [showSubtitle]= "false"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#efb810'"
        [innerStrokeColor]="'#f3ca4c'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent] = "90"
        [radius] = "70"
        [imageSrc] = "'../assets/skills/angular.svg'"
        [showImage] = "true"
        [imageHeight]="50"
        [imageWidth]="50"
        [showUnits] = "false"
        [showSubtitle]= "false"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#efb810'"
        [innerStrokeColor]="'#f3ca4c'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
</div>

<div class="row my-3 ">
    <h1>Soft Skills</h1>
    <div class="my-3 col-sm-6 col-md-4 col-lg-4">
        <p>Autodidacta</p>
        <div class="progress" >
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 1000px;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    </div>
    <div class="my-3 col-sm-6 col-md-4 col-lg-4">
        <p>Adaptabilidad</p>
        <div class="progress"></div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 my-3">
        <p>Creatividad</p>
        <div class="progress"></div>
    </div>
    <div class="my-3 col-sm-6 col-md-4 col-lg-4">
        <p>Trabajo en equipo</p>
        <div class="progress"></div>
    </div>
    <div class="my-3 col-sm-6 col-md-4 col-lg-4">
        <p>Resolutiva</p>
        <div class="progress"></div>
    </div>
</div>