<div class="container" *ngIf="experienceLab">
    <div class="row">
        
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" >
                <div class="form-group">
                    <label for="nameExp">Nombre de la institucion</label>
                    <input type="text" class="form-control" id="nameExp" name="nameExp" [(ngModel)]="experienceLab.nameExp" required>
                </div>
                <div class="form-group">
                    <label for="descriptionExp">Descripcion</label>
                    <input type="text" class="form-control" id="descriptionExp" name="descriptionExp" [(ngModel)]="experienceLab.descriptionExp" required>
                </div>
                <button class="btn btn-primary"> Actualizar Experiencia </button>
            </form>
        </div>
    </div>
</div>
