<div class="row">
    <h1>Formación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Digitalers</h1> - <h3>Backend developer</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tempora, deserunt ab est numquam suscipit magnam ipsa exercitationem ratione quod corrupti nemo commodi nesciunt consequatur? Mollitia quae in odio eum perspiciatis odit voluptas beatae, maiores reiciendis rerum velit harum. Facere.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Codo a Codo</h1> - <h3>Full Stack Java</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tempora, deserunt ab est numquam suscipit magnam ipsa exercitationem ratione quod corrupti nemo commodi nesciunt consequatur? Mollitia quae in odio eum perspiciatis odit voluptas beatae, maiores reiciendis rerum velit harum. Facere.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Argentina Programa</h1> - <h3>Full Stack developer</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tempora, deserunt ab est numquam suscipit magnam ipsa exercitationem ratione quod corrupti nemo commodi nesciunt consequatur? Mollitia quae in odio eum perspiciatis odit voluptas beatae, maiores reiciendis rerum velit harum. Facere.
            </p>
        </ul>
        
    </div>
</div>