<div class="container">
    <div class="row">
        
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nameExp">Nombre de la institucion</label>
                    <input type="text" class="form-control" id="nameExp" name="nameExp" [(ngModel)]="nameExp" required>
                </div>
                <div class="form-group">
                    <label for="descriptionExp">Descripcion</label>
                    <input type="text" class="form-control" id="descriptionExp" name="descriptionExp" [(ngModel)]="descriptionExp" required>
                </div>
                <button class="btn btn-primary"> Agregar Experiencia </button>
            </form>
        </div>
    </div>
</div>
